.git
.git/
/.git
**.git
**/.git/*
.gitmodules

.env
.env.*

.gitignore
README.md
npm-debug.log
Dockerfile*
docker-compose*
.gitignore
README.md
LICENSE
.vscode
.idea/
composer.lock

**.gitignore
**.gitattributes



